<div class="container-fluid">
    <div class="row" style="height: 100%">
        <div class="col-md-12 floorplan" style="height: 100%">

            <img ng-src="{{activeFloor.url}}"></img>

            <div class="lightOverlay">
                <div ng:repeat="switch in switches|itemsOnFloor:activeFloor.name">
                    <switch class="appliance" appliance="switch"></switch>
                </div>
                <div ng:repeat="zone in alarmZones|itemsOnFloor:activeFloor.name">
                    <alarm-zone class="appliance" appliance="zone"></alarm-zone>
                </div>
                <div ng:repeat="camera in cameras|itemsOnFloor:activeFloor.name">
                    <camera class="appliance" appliance="camera"></camera>
                </div>

<!--                <div ng:repeat="thermostat in nest.thermostats|itemsOnFloor:activeFloor.name"
                     ng-if="_.has(nest,'thermostats')">
                    <thermostat class="appliance" appliance="thermostat"></thermostat>
                </div>

                <div ng:repeat="garageDoor in garageDoors|itemsOnFloor:activeFloor.name">
                    <alarm-zone appliance="garageDoor"></alarm-zone>
                </div>
                <div ng:repeat="sensor in tempAndHum|itemsOnFloor:activeFloor.name">
                  <sensor  class="appliance" appliance="sensor"></sensor>
                </div> -->
            </div>

        </div>
    </div>
  </div>
    <div class="footer">
      <div style="text-align: center;width: 46em;margin-left: auto; margin-right: auto">
        <div class="pull-left alarmFooterText alarmFooterTextLeft"><alarm-keypad-status></alarm-keypad-status></div>
        <div class="pull-left fa-stack fa-3x alarmStatusIcon" >
          <i class="fa fa-circle-o fa-stack-2x" style="color: rgb(31, 31, 31);"></i>
          <alarm-keypad></alarm-keypad>
        </div>
        <div class="pull-left alarmFooterText alarmFooterTextRight"><alarm-zone-status></alarm-zone-status><a href ng-click="toggle()">Toggle the nav</a></div>
      </div>
  </div>
