import logging
from  HomeRouter import HomeRouter
from HomeAlarm import HomeAlarm

someone_is_home = None
rule "Start policy":
  then:
    log("Policy is being reasoned over.", "seneschal", logging.DEBUG)


rule "Someone is home":
  when:
    $homeRouter := HomeRouter( len(connected_hosts) > 0 and someone_is_home == True )
  then:
    attribute someone_is_home = True
    log("!!!!!!!!!!!!Someone is home", "seneschal", logging.INFO)

rule "Everyone is away":
  when:
    $homeRouter := HomeRouter( len(connected_hosts) > 0 and someone_is_home == False )
  then:
    attribute someone_is_home = False
    log("Everyone is away", "seneschal", logging.INFO)

rule "Arm the alarm"
  when
    $homeAlarm := HomeAlarm( should_arm_alarm(someone_is_home) )
  then:
    log("The alarm should be armed", "seneschal", logging.INFO)
    $homeAlarm.arm_alarm()

rule "End policy":
  then:
    log("Finished reasoning over policy.", "seneschal", logging.DEBUG)
    halt
