<div class=".container-fluid">
  <div class="lightFloorRow row">
    <div class="col-md-12">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button ng-class="isActiveFloor(floors.basement)" ng-click="activeFloor = floors.basement" type="button" class="btn btn-default">Basement</button>
        </div>
        <div class="btn-group">
          <button ng-class="isActiveFloor(floors.mainFloor)" ng-click="activeFloor = floors.mainFloor" type="button" class="btn btn-default">Main Floor</button>
        </div>
        <div class="btn-group">
          <button ng-class="isActiveFloor(floors.secondFloor)" ng-click="activeFloor = floors.secondFloor" type="button" class="btn btn-default">Second Floor</button>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-4 col-md-4 text-center"
          ng-class="isActiveFloor(floors.basement)"
          ng-click="activeFloor = floors.basement">
      <h2>Basement</h2>
    </div>

    <div class="col-xs-4 col-md-4 text-center"
          ng-class="isActiveFloor(floors.mainFloor)"
          ng-click="activeFloor = floors.mainFloor">
      <h2>Main Floor</h2>
    </div>

    <div class="col-xs-4 col-md-4 text-center"
          ng-class="isActiveFloor(floors.secondFloor)"
          ng-click="activeFloor = floors.secondFloor">
      <h2>Second Floor</h2>
    </div> -->
  </div>
  <div class="row">
    <div class="col-md-12 floorplan alarmBorder"  ng-class="alarmBorderClass()">

      <img ng-src="{{activeFloor.url}}"></img>
      <div class="lightOverlay">
        <div ng:repeat="light in lights|itemsOnFloor:activeFloor.name">
          <light light="light"></light>
        </div>
        <div ng:repeat="zone in alarmZones|itemsOnFloor:activeFloor.name">
          <alarm-zone zone="zone"></alarm-zone>
        </div>
        <!-- <div ng:repeat="keypad in alarmKeypads|itemsOnFloor:activeFloor.name">
          <alarm-keypad keypad="keypad"></alarm-keypad>
        </div> -->
        <div ng:repeat="camera in cameras|itemsOnFloor:activeFloor.name">
          <camera camera="camera"></camera>
        </div>

        <div ng:repeat="thermostat in nest.thermostats|itemsOnFloor:activeFloor.name" ng-if="_.has(nest,'thermostats')">
          <thermostat thermostat="thermostat"></thermostat>
        </div>

        <div ng:repeat="garageDoor in garageDoors|itemsOnFloor:activeFloor.name">
          <garage-door door="garageDoor"></garage-door>
        </div>
      </div>
      <h2 class="alarmStatus" ng-class="alarmStatusClass()"  >
        <i ng-class="alarmStatusIcon()" ng-click="openKeypad('sm')" style="cursor: pointer"></i>
      </h2>
    </div>
  </div>

  <!-- <div ng-show="loading" ng-include=" '/html/directives/loadingMask.html' "></div> -->
</div>