<div class="thermostat">


    <div class="frame-face">
      <div class="color-circle" ng-class="cssFromThermostatMode()">
        <div class="text-readout">
          <i class="fa fa-angle-up fa-3 thermostatControlTop" ng-click="changeTemperature(1)"></i>
          <div class="degree">
          {{targetTemperature|celsiusToDegrees}}&deg;
          </div>
          <i class="fa fa-angle-down fa-3 thermostatControlBottom" ng-click="changeTemperature(-1)"></i>
        </div>
      </div>
    </div>



</div>