.alarmZone
  position absolute
  top 0
  left 0
  color black
  font-weight bold
  font-size 8pt
  text-align center
  width 100% !important
  height 100%

  // div
  //   padding-top 50%
  // cursor pointer
.alarmKeypad-armed
  appliance-style("/stylesheets/img/alarm_panel_armed.svg")
.alarmKeypad-disarmed
  appliance-style("/stylesheets/img/alarm_panel_disarmed.svg")

.alarm
  padding-top 30px
  .alarmRow
    border 1px solid #34495e
    background #bdc3c7
  .alarmDisplay
    background rgba(52, 73, 94, 0.43)
  .alarmDisplayLine
    font-family digital-7, Serif
    font-size 56px
  .alarmControlBtns
    padding-right 60px
  .alarmButton
    padding 30px
    margin  30px
    border-radius 60px

.alarmStatusIcon
  z-index 2
.alarmFooterTextLeft
  padding 0.5em 1em 0.5em 0.5em
  border-radius .5em 0 0 .5em
  left 1em
  top 1.5em
.alarmFooterTextRight
  padding 0.5em 0.5em 0.5em 1em
  border-radius 0 .5em .5em 0
  right 1em
  top 20px
.alarmFooterText
  width 12em
  z-index 1
  position: relative;
  color: #fff
  background-image linear-gradient(rgba(131, 131, 131, 0.5), rgba(60, 59, 59, 0.5))