.alarmZone
  position absolute
  top 0
  left 0
  color black
  font-weight bold
  font-size 8pt
  text-align center
  // div
  //   padding-top 50%
  // cursor pointer
.alarmKeypad-armed
  background-image url(/stylesheets/img/alarm_panel_armed.svg)
  background-size cover
  height 3em
  width 3em
  display block
.alarmKeypad-disarmed
  background-image url(/stylesheets/img/alarm_panel_disarmed.svg)
  background-size cover
  height 3em
  width 3em
  display block

.alarm
  padding-top 30px
  .alarmRow
    border 1px solid #34495e
    background #bdc3c7
  .alarmDisplay
    background rgba(52, 73, 94, 0.43)
  .alarmDisplayLine
    font-family digital-7, Serif
    font-size 56px
  .alarmControlBtns
    padding-right 60px
  .alarmButton
    padding 30px
    margin  30px
    border-radius 60px
  // .numinputwrapper
  //   font-family:digital-7, Serif
  //   font-size 35pt
  //   width 360px
  //   height 90px
  //   margin 0 auto
  //   background rgba(206,206,182,0.7)
  //   border 1px solid rgba(255,255,255,0.7)
  //   box-shadow inset 0px -3px 10px rgba(0,0,0,0.05), inset 1px 3px 9px rgba(0,0,0,0.3), inset 1px 1px 1px rgba(0,0,0,0.2), inset -1px -1px 1px rgba(0,0,0,0.1), inset 0px 2px 1px 2px rgba(0,0,0,0.1)

  // .numinput
  //   box-sizing border-box
  //   width 360px
  //   height 43px
  //   position relative
  //   display block
  //   line-height 54px
  //   margin auto
  //   text-align center


  // .numinput:before
  //   content "8888888888888888"
  //   position absolute
  //   left 13px
  //   color rgba(0,0,0,0.18)

  // .numinput:after
  //   content ""
  //   position absolute
  //   width 350px
  //   height 30px
  //   top 5px
  //   left 5px
  //   background -webkit-linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.1))


  // .screen-reader-text
  //   position absolute
  //   top -9999px
  //   left -9999px
