.appliance
  position absolute
  top 0
  left 0
  cursor pointer
  color black
  z-index 1
  height 6%
  width 6%
appliance-style(urlIn)
  background-image url(urlIn)
  background-size contain
  display block
  background-repeat no-repeat
  background-position: center center
  width 100%
  height 100%