.cameraThumbnail
  width 100px
  height 75px
  float left
  margin 0 20px 0 20px
  cursor pointer

.cameraImage
  width: 640px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -185px 0 0 -320px;

.cameraControls
  width: 640px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -185px 0 0 -320px;
  .left
    width: 50px;
    height: 100%;
    background rgba(0, 0, 0, 0)
  .left:hover
    background rgba(0, 0, 0, 0.5)
  .top
    height: 50px;
    position: relative;
    width: 100%;
    top: -481px;
    background: rgba(0,0,0,0);
  .top:hover
    background rgba(0, 0, 0, 0.5)
  .right
    width: 50px;
    height: 100%;
    position: relative;
    right: -590px;
    top: -481px;
    float: left;
    background: rgba(0,0,0,0);
  .right:hover
    background rgba(0, 0, 0, 0.5)
  .bottom
    height: 50px;
    width: 100%;
    position: relative;
    bottom: 99px;
    background: rgba(0,0,0,0);
  .bottom:hover
    background rgba(0, 0, 0, 0.5)