@font-face {
  font-family: "digital-7";
  src: url(/stylesheets/vendor/unmanaged/digital-7_mono.ttf);
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url(/stylesheets/vendor/unmanaged/MYRIADPRO-BOLD.otf) format("opentype");
}
@font-face {
  font-family: "Myriad Pro Bold Condensed";
  src: url(/stylesheets/vendor/unmanaged/MYRIADPRO-BOLDCOND.otf) format("opentype");
}

@font-face {
  font-family: "Myriad Pro Bold Condensed Italic";
  src: url(/stylesheets/vendor/unmanaged/MYRIADPRO-BOLDCONDIT.otf) format("opentype");
}
@font-face {
  font-family: "Myriad Pro Bold Italic";
  src: url(/stylesheets/vendor/unmanaged/MYRIADPRO-BOLDIT.otf) format("opentype");
}
@font-face {
  font-family: "Myriad Pro Condensed";
  src: url(/stylesheets/vendor/unmanaged/MYRIADPRO-COND.otf) format("opentype");
}
@font-face {
  font-family: "Myriad Pro Condensed Italic";
  src: url(/stylesheets/vendor/unmanaged/MYRIADPRO-CONDIT.otf) format("opentype");
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url(/stylesheets/vendor/unmanaged/MYRIADPRO-REGULAR.otf) format("opentype");
}
@font-face {
  font-family: "Myriad Pro Semibold";
  src: url(/stylesheets/vendor/unmanaged/MYRIADPRO-SEMIBOLD.otf) format("opentype");
}
@font-face {
  font-family: "Myriad Pro Semibold Italic";
  src: url(/stylesheets/vendor/unmanaged/MYRIADPRO-SEMIBOLDIT.otf) format("opentype");
}