body
  padding-top 50px

.footer
  position fixed !important
  bottom 0 !important
  width 100%
  /* Set the fixed height of the footer here */
  /*height 5.7em*/
  background-color rgba(34, 34, 34, 0.5)
  border-top-left-radius 20px
  border-top-right-radius 20px

.navbar
  background-color rgba(34, 34, 34, 0.5) !important
  border-bottom-right-radius  20px !important
  border-bottom-left-radius 20px !important

.navbar-inverse .navbar-nav > .active > a
  background-color: rgba(8, 8, 8, 0.3) !important