.floorplan
  background #2c3e50
  color white
  img
    width 100%
    height 100%
  .lightOverlay
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.lightFloorRow
  padding-bottom  30px
  .selected
    text-decoration underline