/*  Basic Reset and General */
  * {
    margin: 0px;
    padding: 0px;
  }
  html, body {
    // min-width: 435px;
    // min-height: 1000px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  div.background {
    position: absolute;
    top: 0px; left: 0px;
    // min-width: 435px;
    // min-height: 1000px;
    height: 100%; width: 100%;
    /*background: #408dce url('/stylesheets/img/background.jpg') no-repeat center center;*/
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }

  div.circle {
    height: 77px; width: 77px;
    /*background: url('/stylesheets/img/circle.png');*/
    position: absolute;
    top: 50%; left: 50%;
    z-index: 200;
    margin: -403px 0px 0px -691px;
    pointer-events: none;
    animation: pulse 5s infinite;
    -webkit-animation: pulse 1.5s infinite;
    opacity: 0;
  }
    @keyframes pulse {
      0%   { opacity: 0; }
      50%  { opacity: 1; }
      100% { opacity: 0; }
    }
    @-webkit-keyframes pulse {
      0%   { opacity: 0; }
      50%  { opacity: 1; }
      100% { opacity: 0; }
    }

  div.screen {
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    /*margin-top:20px;
    margin-bottom:20px;
    margin-right:20px;
    margin-left:20px;*/
  }


/*  Content */
  div.menu {
    position: absolute;
    height: 100%; width: 100%;
    /*background: url('/stylesheets/img/blur.jpg') no-repeat center center;*/
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
    div.menu ul {
      width: 600px;
      list-style: none;
      margin: 95px 0px 0px 75px;
    }
    div.menu li {
      font-family: "Myriad Pro Bold", sans-serif;
      font-weight: 900;
      font-size: 35pt;
      line-height: 80px;

      margin-bottom: 28px;




      -webkit-transition: all 400ms ease-in-out, opacity 1000ms ease;
         -moz-transition: all 400ms ease-in-out, opacity 1000ms ease;
          -ms-transition: all 400ms ease-in-out, opacity 1000ms ease;
           -o-transition: all 400ms ease-in-out, opacity 1000ms ease;
              transition: all 400ms ease-in-out, opacity 1000ms ease;
      -webkit-transform: translate3d(-150px, 0px, 0px) scale(0.2);
      opacity: 0;
    }
    div.menu li.visible {
      -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
      opacity: 1;
    }
    div.menu li a {
      color: #d35400;
      text-decoration: none;
    }
    div.menu li a:hover{
      color: #e67e22;
    }

  div.content {
    position: absolute;

    height: 100%; width: 100%;
    /*background-color: white;*/
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    -webkit-transition: all 300ms ease-in-out;
       -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
         -o-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
    -webkit-backface-visibility: hidden;

    /*background:#14406F;*/

  }
  div.content.inactive {
    cursor: pointer;
    -webkit-transform: translate3d(160px, 0px, 0px) scale(0.5);
       -moz-transform: translate3d(160px, 0px, 0px) scale(0.5);
        -ms-transform: translate3d(160px, 0px, 0px) scale(0.5);
            transform: translate3d(160px, 0px, 0px) scale(0.5);
  }

  div.button {
    width: 30px; height: 30px;
    position: absolute;
    top: 23px; left: 3px;
    cursor: pointer;
    background-color: black;
    z-index 100
  }
header {
  position:absolute;
  left:0;
  top:0;
  right:0;
  height:44px;
  overflow:hidden;
  background:#f8f8f8;
  z-index:2;
  box-shadow:0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
  background: rgba(255,255,255, .8);
}
header .menuButton{
  float:left;
  padding-left:20px;
  cursor: pointer;
}

header h1 {
  position: relative;
  font-family:"Myriad Pro Bold",sans-serif;
  font-weight:normal;
  font-size: 25px;
  margin:0 20px 0 0;
  padding:0 20px 0 0;
  line-height:44px;
  text-align:center;
  z-index: 2;
  font-weight:300;
  box-shadow:inset 0 -1px 0 rgba(255,255,255,.25);
}

.inner-content-wrapper {
  position:relative;
  padding:0 1rem;
  z-index:1;
  height:100%;
  overflow:auto;
  -webkit-backface-visibility:hidden;
}
.inner-content-wrapper .inner-content {
  margin-top:44px;
}

.inner-content {
  display:block;
  padding-top:1em;
}
