//globals
@import "fonts"
@import "colors"

//page styles
@import "index"
@import "home"
@import "lights"
@import "alarm"
@import "thermostat"

//directives
@import "camera"

//effects
@import "lightbulb"

//bootstrap
@import "/stylesheets/vendor/managed/bootstrap/bootstrap.css"
@import "/stylesheets/vendor/unmanaged/font-awesome-4.0.3/css/font-awesome.css"
@import "/stylesheets/vendor/managed/angular-motion/angular-motion.css"

//body
//  background #2c3e50

//css fix for angular ui
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.garageDoor
  cursor pointer
//iphone overrides
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)
  .floorplan
    img
      height 250px

div:focus
    outline 0

