//globals
@import "fonts"
@import "colors"

//mixins
@import "appliance"

//page styles
@import "index"
@import "home"
@import "lights"
@import "alarm"
@import "thermostat"
@import "vmstats"

//directives
@import "camera"
@import "switch"




//bootstrap
@import "/stylesheets/vendor/managed/bootstrap/bootstrap.css"
@import "/stylesheets/vendor/unmanaged/font-awesome-4.0.3/css/font-awesome.css"
@import "/stylesheets/vendor/managed/angular-motion/angular-motion.css"

//3rd party libraries
@import "/stylesheets/vendor/managed/ng-table/ng-table.css"
@import "ngTableOverrides"


html,body
  background-image: linear-gradient(#8b9da9, #fff6e4);
  box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
  min-height: 100%


//css fix for angular ui
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.garageDoor
  cursor pointer

//iphone overrides
@media screen and (device-aspect-ratio: 40/71)
  body
    font-size 1em
  .panel-title
    font-size 2em
  .alarmDisplay
    font-size 1em
  .modal-body
    font-size 1em
  .thermostat
    font-size .5em
    .thermostat-target-needle
      top: 21em;
      left: 31em;
    .thermostat-current-needle
      top: 21em;
      left: 31em;
    .thermostat-current-number
      top: 11em;
      left: 16em;

    .minute-marks li
      left 30em
      top 21em
      /*.text-readout*/
        /*font-size 2em*/

/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)*/
  /*.floorplan*/
    /*img*/
      /*height 250px*/

div:focus
    outline 0

