//globals
@import "fonts"
@import "colors"

//mixins
@import "appliance"

//page styles
@import "index"
@import "home"
@import "lights"
@import "alarm"
@import "thermostat"
@import "vmstats"

//directives
@import "camera"
@import "switch"




//bootstrap
@import "/stylesheets/vendor/managed/bootstrap/bootstrap.css"
@import "/stylesheets/vendor/managed/font-awesome/font-awesome.css"
@import "/stylesheets/vendor/managed/angular-motion/angular-motion.css"

//3rd party libraries
@import "/stylesheets/vendor/managed/ng-table/ng-table.css"
@import "ngTableOverrides"
@import "nvd3"


html,body
  background-image: url("/stylesheets/img/grey-linen.png")
  min-height: 100vh
  /*overflow hidden*/

.modal-content
  background: rgba(255, 255, 255, 0.95);
//css fix for angular ui
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.form-control
  font-size 16px !important

.garageDoor
  cursor pointer

//iphone overrides
@media screen and (device-aspect-ratio: 40/71)
  body
    font-size 1.7em
  .panel-title
    font-size 1.5em
  .alarmDisplay
    font-size 1em
  .modal-body
    font-size 1em
    padding 0
  .modal-header
    padding 0
    h3
      -webkit-margin-after .5em
      -webkit-margin-before .5em
  .modal-footer
    padding .5em
    margin-top 0
  .thermostat-modal-footer
    margin-top 1em !important
  .camera
    padding 0
    .cameraWrapper
      width 100%
  .thermostat
    font-size .5em
    .hvacInfo
      top -2em
    .text-readout
      top:-0.5em
    .thermostat-target-needle
      top: 15em;
      left: 19em;
    .thermostat-current-needle
      top: 15em;
      left: 19em;
    .thermostat-current-number
      top: 8em;
      left: 10em;

    .minute-marks li
      left 18em
      top 15em
      /*.text-readout*/
        /*font-size 2em*/

/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)*/
  /*.floorplan*/
    /*img*/
      /*height 250px*/

div:focus
    outline 0

