.fan
  background-image url(/stylesheets/img/fan.png)
  background-size cover
  height 3em
  width 3em
  display block
.monitor-on
  background-image url(/stylesheets/img/monitor-on.svg)
  background-size cover
  height 5em
  width 5em
  display block
.monitor-off
  background-image url(/stylesheets/img/monitor-off.svg)
  background-size cover
  height 5em
  width 5em
  display block
.floodLight-on
  background-image url(/stylesheets/img/floodlight-on.svg)
  background-size cover
  height 3em
  width 3em
  display block
.floodLight-off
  background-image url(/stylesheets/img/floodlight-off.svg)
  background-size cover
  height 3em
  width 3em
  display block
.lightbulb-on
  background-image url(/stylesheets/img/lightbulb-on.svg)
  background-size cover
  height 3em
  width 3em
  display block
.lightbulb-off
  background-image url(/stylesheets/img/lightbulb-off.svg)
  background-size cover
  height 3em
  width 3em
  display block
