.fan
  appliance-style("/stylesheets/img/fan.png")
.monitor-on
  appliance-style("/stylesheets/img/monitor-on.svg")
.monitor-off
  appliance-style("/stylesheets/img/monitor-off.svg")
.monitor-pending
  height: 1em !important
  width: 1em !important
.threedprinter-on
  appliance-style("/stylesheets/img/3dprinter-on.svg")
.threedprinter-off
  appliance-style("/stylesheets/img/3dprinter-off.svg")
.christmastree-on
  appliance-style("/stylesheets/img/christmastree-on.svg")
.christmastree-off
  appliance-style("/stylesheets/img/christmastree-off.svg")
.floodLight-on
  appliance-style("/stylesheets/img/floodlight-on.svg")
.floodLight-off
  appliance-style("/stylesheets/img/floodlight-off.svg")
.lightbulb-on
  appliance-style("/stylesheets/img/lightbulb-on.svg")
.lightbulb-off
  appliance-style("/stylesheets/img/lightbulb-off.svg")
.dehumidifier-on
  appliance-style("/stylesheets/img/dehumidifier-on.svg")
.dehumidifier-off
  appliance-style("/stylesheets/img/dehumidifier-off.svg")

.garagedoor-open
  appliance-style("/stylesheets/img/garagedoor-open.svg")
.garagedoor-recent-close
  appliance-style("/stylesheets/img/garagedoor-recent-close.svg")
.garagedoor-closed
  appliance-style("/stylesheets/img/garagedoor-closed.svg")
.door-open
  appliance-style("/stylesheets/img/door-open.svg")
.door-recent-close
  appliance-style("/stylesheets/img/door-recent-close.svg")
.door-closed
  appliance-style("/stylesheets/img/door-closed.svg")
