.fan
  appliance-style("/stylesheets/img/fan.png")
.monitor-on
  appliance-style("/stylesheets/img/monitor-on.svg")
.monitor-off
  appliance-style("/stylesheets/img/monitor-off.svg")
.monitor-pending
  height: 1em !important
  width: 1em !important
.floodLight-on
  appliance-style("/stylesheets/img/floodlight-on.svg")
.floodLight-off
  appliance-style("/stylesheets/img/floodlight-off.svg")
.lightbulb-on
  appliance-style("/stylesheets/img/lightbulb-on.svg")
.lightbulb-off
  appliance-style("/stylesheets/img/lightbulb-off.svg")
.dehumidifier-on
  appliance-style("/stylesheets/img/dehumidifier-on.svg")
.dehumidifier-off
  appliance-style("/stylesheets/img/dehumidifier-off.svg")
