.chartWrapper

  main
    width 600px
    margin auto

  .chart
    section
      clear left

    .stats
      margin 0

    .stat
      list-style-type none
      float left
      margin 0
      width 130px
      font-size 12px

    .stat-name
      display: inlineblock
      text-align right
      width 50px
      margin-right px

    .stat-value
      font-weight bold
