.chartWrapper
  background: radial-gradient(#999, #000)
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 0;
  main
    width 600px
    margin auto

  .chart
    section
      clear left

    .stats
      margin 0

    .stat
      list-style-type none
      float left
      margin 0
      width 130px
      font-size 12px

    .stat-name
      display: inlineblock
      text-align right
      width 50px
      margin-right px

    .stat-value
      font-weight bold
