<div class="modal-header">
    <h3 class="modal-title">{{appliance.name}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">General</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputFloor" class="col-sm-2 control-label">Floor</label>
                            <div class="col-sm-10">
                                <ui-select ng-model="appliance.floor" theme="bootstrap" ng-disabled="disabled" style="width: 100%;">
                                    <ui-select-match placeholder="Select a floor...">{{appliance.floor | prettyFloorName}}</ui-select-match>
                                    <ui-select-choices repeat="floor in floors">
                                        <div ng-bind-html="floor | prettyFloorName"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputType" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                <ui-select ng-model="appliance.type" theme="bootstrap" ng-disabled="disabled" style="width: 100%;">
                                    <ui-select-match placeholder="Select a type...">{{appliance.type | prettyTypeName}}</ui-select-match>
                                    <ui-select-choices repeat="type in types">
                                        <div ng-bind-html="type | prettyTypeName"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Location</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div ng:repeat="(key,value) in appliance.location">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{key|capitalize}}</label>
                                <div class="col-sm-10">
                                    <input id="inputType" type="text" ng-model="value" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
