<div class="modal-header">
    <h3>{{getThermostat().name}}</h3>
</div>
<div class="modal-body">
    <div class="thermostat">
        <div class="frame-face">
            <div class="color-circle" ng-class="cssFromThermostatMode()">
                <div class="text-readout">
                    <i class="fa fa-angle-up fa-3 thermostatControlTop" ng-click="changeTemperature(1)"></i>

                    <div class="hvacInfo" ng-show="!isAway()">{{getThermostat().data.hvac_mode}} set to</div>
                    <div class="degree">
                        <span ng-show="!isAway()">
                            {{targetTemperature}}&deg;
                        </span>
                        <span ng-show="isAway()"
                              style="text-transform: uppercase;font-size: 90pt;left: -15px;position: relative;">
                            {{getThermostat().away}}
                        </span>
                    </div>
                    <i class="fa fa-angle-down fa-3 thermostatControlBottom" ng-click="changeTemperature(-1)"></i>
                </div>
            </div>
        </div>
        <ul class="minute-marks">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div ng-style="radialStyle(targetTemperature)" class="thermostat-target-needle"></div>
        <div ng-style="radialStyle(getThermostat().data.ambient_temperature_f)" class="thermostat-current-needle"></div>
        <div ng-style="innerRadialStyle(getThermostat().data.ambient_temperature_f-2)"
             class="thermostat-current-number">
            {{getThermostat().data.ambient_temperature_f}}
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Close</button>
</div>
